/source/*.cbp
/source/*.depend
/source/*.layout
/source/bin/
/source/obj/	
source/obj/Debug/main.o
source/obj/Debug/scenes.o
source/obj/Debug/ZRect.o
source/obj/Debug/utils.o
libjpeg-9.dll
libpng16-16.dll
libtiff-5.dll
libwebp-7.dll
SDL2.dll
SDL2_image.dll
zlib1.dll